.section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 95%;
    max-width: 450px;
    /* height: 47vh; */
    /* border-radius: 9px;
    border: 2px solid #dce5f2; */
    margin: 8px auto;
  }
  
  /* --- CODE --- */
  .login__field {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 250px;
    height: 47px;
    padding: 0;
    margin: 0;
    border-radius: 16px;
    border: 1px solid #a5b3d4;
    background-color: #fff;
    margin-bottom: 9px;
    margin-top: 9px;
    overflow: hidden;
  }
  .login__field--password {
    position: relative;
  }
  .login__input {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    letter-spacing: 1.5px;
    border: none;
    outline: none;
    box-shadow: none;
    stroke: none;
    padding: 0;
    margin: 0;
    border-radius: 16px;
    padding: 0 2ch;
    z-index: 2;
    background-color: transparent;
  }
  .login__input:focus::-moz-placeholder {
    color: transparent;
  }
  .login__input:focus:-ms-input-placeholder {
    color: transparent;
  }
  .login__input:focus::placeholder {
    color: transparent;
  }
  .login__field--password .login__input {
    padding-right: 40px;
  }
  .login__trailing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: absolute;
    right: 3px;
    width: 35px;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    stroke: 0;
    box-shadow: 0;
    cursor: pointer;
    background-color: transparent;
    color: #a5b3d4;
    z-index: 2;
  }
  .login__trailing:active {
    transform: scale(0.8);
  }
  .login__field--run {
    position: relative;
  }
  .login__field::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -100%;
    background-color: #1a2554;
    transition-duration: 1s;
  }
  
  .section--slide .login__field--run::before {
    -webkit-animation: password-slide 1s ease both 1;
            animation: password-slide 1s ease both 1;
  }
  
  .section--fill .login__field--password .section--fill .login__input {
    transition-delay: 1s;
  }
  .section--fill .login__field--run .login__input::-moz-placeholder {
    color: #f2f5fb;
  }
  .section--fill .login__field--run .login__input:-ms-input-placeholder {
    color: #f2f5fb;
  }
  .section--fill .login__field--run .login__input, .section--fill .login__field--run .login__input::placeholder {
    color: #f2f5fb;
  }
  .section--fill .login__field--run .login__trailing {
    color: #dce5f2;
  }
  .section--fill .login__field--run::before {
    right: 0;
  }
  
  @-webkit-keyframes password-slide {
    from, 0% {
      right: -100%;
      background-color: transparent;
      color: #a5b3d4;
    }
    10% {
      background-color: #1a2554;
    }
    19% {
      right: -100%;
    }
    35% {
      right: 0;
    }
    55% {
      color: #a5b3d4;
    }
    60% {
      color: #f2f5fb;
    }
    70% {
      right: 0;
      background-color: #1a2554;
      color: #f2f5fb;
    }
    75% {
      right: 100%;
    }
    80% {
      color: #a5b3d4;
    }
    90% {
      background-color: #1a2554;
    }
    to, 100% {
      right: 100%;
      background-color: transparent;
      color: #1a2554;
    }
  }
  
  @keyframes password-slide {
    from, 0% {
      right: -100%;
      background-color: transparent;
      color: #a5b3d4;
    }
    10% {
      background-color: #1a2554;
    }
    19% {
      right: -100%;
    }
    35% {
      right: 0;
    }
    55% {
      color: #a5b3d4;
    }
    60% {
      color: #f2f5fb;
    }
    70% {
      right: 0;
      background-color: #1a2554;
      color: #f2f5fb;
    }
    75% {
      right: 100%;
    }
    80% {
      color: #a5b3d4;
    }
    90% {
      background-color: #1a2554;
    }
    to, 100% {
      right: 100%;
      background-color: transparent;
      color: #1a2554;
    }
  }
  @-webkit-keyframes password-fill {
    from, 0% {
      width: 30px;
      height: 100%;
      background-color: transparent;
      color: #a5b3d4;
    }
    10% {
      background-color: #1a2554;
    }
    19% {
      width: 30px;
      height: 100%;
    }
    35% {
      width: 100%;
      height: 100%;
    }
    55% {
      color: #a5b3d4;
    }
    60% {
      color: #f2f5fb;
    }
    70% {
      width: 100%;
      height: 100%;
      background-color: #1a2554;
      color: #f2f5fb;
    }
    75% {
      width: 100%;
      height: 100%;
    }
    80% {
      color: #a5b3d4;
    }
    90% {
      background-color: #1a2554;
    }
    to, 100% {
      width: 30px;
      height: 100%;
      background-color: transparent;
      color: #1a2554;
    }
  }
  @keyframes password-fill {
    from, 0% {
      width: 30px;
      height: 100%;
      background-color: transparent;
      color: #a5b3d4;
    }
    10% {
      background-color: #1a2554;
    }
    19% {
      width: 30px;
      height: 100%;
    }
    35% {
      width: 100%;
      height: 100%;
    }
    55% {
      color: #a5b3d4;
    }
    60% {
      color: #f2f5fb;
    }
    70% {
      width: 100%;
      height: 100%;
      background-color: #1a2554;
      color: #f2f5fb;
    }
    75% {
      width: 100%;
      height: 100%;
    }
    80% {
      color: #a5b3d4;
    }
    90% {
      background-color: #1a2554;
    }
    to, 100% {
      width: 30px;
      height: 100%;
      background-color: transparent;
      color: #1a2554;
    }
  }
